<section>
    <div>
        <h3>tradition and love</h3>
        <h1>how it’s made?</h1>
    </div>
    <div>
        <img src="/src/images/mobile/how-its-made/cow__mobile.png" alt="vaca y jarra de leche">
    </div>
    <div>
        <ul>
            <li>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</li>
            <li>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            Aliquam erat volutpat. Aenean accumsan.</li>
        </ul>
    </div>
    <div>
        <button type="button">Read more</button>
        <svg width="10" height="10">
            <use href="/src/images/svg.defs.svg#icon-Vector-1"></use>
        </svg>
    </div>
    <div>
        <ul>
            <li>
                <svg width="33" height="50">
                    <use href="/src/images/svg.defs.svg#icon-Group"></use>
                </svg>
                <h2>721</h2>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <svg width="33" height="50">
                    <use href="/src/images/svg.defs.svg#icon-Vector-vaso-helado"></use>
                </svg>
                <h2>16 kg</h2>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <svg width="33" height="50">
                    <use href="/src/images/svg.defs.svg#icon-corazon-bien"></use>
                </svg>
                <h2>84</h2>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>
