<section>
    <h2>100% Natural PRODUCTS</h2>
    <ul>
        <li>
            <div>
                <img src="../images/mobile/products/ice-cream__mobile.png" alt="ice cream fresa">
                <h3>ICE CREAM</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
            </div>
        </li>
        <li>
            <div>
                <img src="../images/mobile/products/ice-coffee__mobile.png" alt="ice cream coffee">
                <h3>ICE COFFEE</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
            </div>
        </li>
        <li>
            <div>
                <img src="../images/mobile/products/milkshake__mobile.png" alt="ice cream milk">
                <h3>MILKSHAKES</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
            </div>
        </li>
    </ul>
</section>